# dependencies
node_modules/
.pnpm-store/

# build
dist/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# test
coverage/
