@import "../../../style/tokens.scss";

.toolSliderRow {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-sm;
  }

  &__label {
    font-size: $font-body-md;
    color: $color-outline;
    line-height: $line-height-body-md;
  }

  &__value {
    font-size: $font-body-md;
    font-weight: 700;
    color: $color-primary;
    line-height: $line-height-body-md;
  }

  &--disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
